<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990602212475-ok5f63u69cq7si1uhfbmmvrafig7e51v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990602212475-ok5f63u69cq7si1uhfbmmvrafig7e51v</string>
	<key>API_KEY</key>
	<string>AIzaSyCTxrm74G-5mVQenuaOg2Nbfcu1TgUwKvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>990602212475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosdev.TaskAppGain</string>
	<key>PROJECT_ID</key>
	<string>movies-push-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-push-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990602212475:ios:cb8f5d922d39396c631ede</string>
</dict>
</plist>